body{
    background: rgb(23, 104, 209);
    font: normal 15pt Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: rgb(10, 74, 134);
    border-radius: 12px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(124, 179, 250);
}

footer{
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}